version: '3'
services:
  jianmu-mysql:
    image: percona:8
    command: --init-connect='SET NAMES utf8' --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --max-connections=1200 --max-user-connections=1000
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: "jianmu"
      TZ: "Asia/Shanghai"
  ci-server:
    image: jianmudev/jianmu-ci-server:latest
    environment:
      SPRING_PROFILES_ACTIVE: dev
      SPRING_DATASOURCE_URL: jdbc:mysql://jianmu-mysql:3306/jianmu?useUnicode=true&characterEncoding=utf8&useSSL=false&allowPublicKeyRetrieval=true
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: 123456
      EMBEDDED_DOCKER-WORKER_DOCKER-HOST: unix:///var/run/docker.sock
      JIANMU_API_ADMINPASSWD: 123456
      REGISTRY_URL: https://hub.jianmu.dev
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /mnt/jianmu/ci/task_log:/task_log
    depends_on:
      - jianmu-mysql
  web:
    image: jianmudev/jianmu-ci-ui:latest
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - jianmu-mysql
      - ci-server
  jianmu-hub-server:
    image: huangxi1020/jianmu-hub-server:latest
    container_name: jianmu-hub-server
    ports:
      - "8000:8000"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysqldb:3306/jianmu_hub_server?useunicode=true&characterencoding=utf8&usessl=false&allowpublickeyretrieval=true
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      JIANMU_OSS_ACCESS_KEY: di0QoZTUFcBPUenjPF2jco9ewZR6nEHkR8kom_xv
      JIANMU_OSS_SECRET_KEY: kF8kA-sK8I0aj4qI01x4mCY7bD1qNvG20ATLxrqI
      JIANMU_OSS_BUCKET: test-jianmu
      JIANMU_OSS_TOKEN_EXPIRE_SECONDS: 60000
      API_GATEWAY_HOST: https://api.test.jianmu.dev
    depends_on:
      - jianmu-mysql
    command: [ "./wait-for-it.sh", "db:3306" ]